In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression,Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [8]:
df=pd.read_csv('/content/drive/MyDrive/Bengaluru_House_Data.csv')

In [9]:
df.head()

              area_type   availability                  location  ... bath balcony   price
0  Super built-up  Area         19-Dec  Electronic City Phase II  ...  2.0     1.0   39.07
1            Plot  Area  Ready To Move          Chikka Tirupathi  ...  5.0     3.0  120.00
2        Built-up  Area  Ready To Move               Uttarahalli  ...  2.0     3.0   62.00
3  Super built-up  Area  Ready To Move        Lingadheeranahalli  ...  3.0     1.0   95.00
4  Super built-up  Area  Ready To Move                  Kothanur  ...  2.0     1.0   51.00

[5 rows x 9 columns]

In [10]:
df.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [12]:
df.isnull()

       area_type  availability  location   size  society  total_sqft   bath  balcony  price
0          False         False     False  False    False       False  False    False  False
1          False         False     False  False    False       False  False    False  False
2          False         False     False  False     True       False  False    False  False
3          False         False     False  False    False       False  False    False  False
4          False         False     False  False     True       False  False    False  False
...          ...           ...       ...    ...      ...         ...    ...      ...    ...
13315      False         False     False  False    False       False  False    False  False
13316      False         False     False  False     True       False  False     True  False
13317      False         False     False  False    False       False  False    False  False
13318      False         False     False  False    False       False  False    False  False
13319      False         False     False  False     True       False  False    False  False

[13320 rows x 9 columns]

In [13]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [14]:
df.shape

(13320, 9)

In [16]:
df.groupby("area_type")["area_type"].agg("count")

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [21]:
df=df.drop(["area_type","society","balcony","availability"],axis="columns")

In [23]:
df.shape

(13320, 5)

In [25]:
df=df.dropna()

In [26]:
df.shape

(13246, 5)

In [27]:
df["size"].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [28]:
df["BHK"]=df["size"].apply(lambda x:int(x.split(" ")[0]))

In [29]:
df.shape

(13246, 6)

In [30]:
df.head()

                   location       size total_sqft  bath   price  BHK
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [31]:
df.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [32]:
def is_float(x):
  try:
    float(x)
  except:
    return False
  return True

In [33]:
df[~df["total_sqft"].apply(is_float)].head(10)

               location       size      total_sqft  bath    price  BHK
30            Yelahanka      4 BHK     2100 - 2850   4.0  186.000    4
122              Hebbal      4 BHK     3067 - 8156   4.0  477.000    4
137  8th Phase JP Nagar      2 BHK     1042 - 1105   2.0   54.005    2
165            Sarjapur      2 BHK     1145 - 1340   2.0   43.490    2
188            KR Puram      2 BHK     1015 - 1540   2.0   56.800    2
410             Kengeri      1 BHK  34.46Sq. Meter   1.0   18.500    1
549         Hennur Road      2 BHK     1195 - 1440   2.0   63.770    2
648             Arekere  9 Bedroom       4125Perch   9.0  265.000    9
661           Yelahanka      2 BHK     1120 - 1145   2.0   48.130    2
672        Bettahalsoor  4 Bedroom     3090 - 5002   4.0  445.000    4

In [36]:
def convert_sqft_to_num(x):
  tokens=x.split("-")
  if len(tokens)==2:
    return (float(tokens[0]+tokens[1]))/2
  try:
    return float(x)
  except:
    return None

In [38]:
df=df.copy()
df["total_sqft"]=df["total_sqft"].apply(convert_sqft_to_num)
df.head()

ValueError: could not convert string to float: '2100  2850'